body{
    text-align: left;
}

#pageHeader {
 left:8%;
 }

 #container {
  }
#sidebarContainer {
    left:5px;
}
#sidebarContainer a{
}
a{
}

#contentContainer {
 left:20%;
}
#language_link{
right:30px;
}
